{% extends 'base_template.html' %}

{% block page_title %}
    {% if year != None %}
    Actors of shows released in {{ year[:4] }}
    {% else %}
    Choose a year to display actors
    {% endif %}
{% endblock %}
{% block styling %}
    <script src="{{ url_for('static', filename='js/highlight_older.js') }}" defer></script>{% endblock %}
{% block main_title %} {% if year != None %}
    Actors of shows released in {{ year[:4] }}
    {% else %}
    Choose a year to display actors
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card">
        <form action="{{ url_for('shows_and_actors_from_year') }}">
            <label for="year">Enter a year:</label>
            <input type="text" name="year" id="year" placeholder="e. g. 1997">
            <input type="submit">
        </form>
    </div>

    {% if error %}
<p>{{  error }}</p>
    {% elif actors and year %}
<ol>
    {% for actor in actors %}
        <div class="card" data-older="{{ actor.older }}"
             {% if actor.age != None and actor.show_age != None %}
             data-actor="{{ (actor.age - actor.show_age) | int }}" data-show="{{ actor.show_age | int }}"
            {% endif %}
        > <li >{{ actor.name }}, {{ actor.age | int }}</li> </div>
    {% endfor %}
</ol>
    {% endif %}

{% endblock %}