{% extends 'base_template.html' %}

{% block page_title %} {{  show['title'] }} {% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
    <script src="{{ url_for('static', filename='js/embed-youtube.js') }}" defer></script>
{% endblock %}

{% block main_title %} {{ show['title'] }} {% endblock %}

{% block content %}
<div class="card detailed-view">
            <div class="row">
                <div class="col col-twothird">
                    <h2>{{ show['title'] }}</h2>
                    <p class="small grayed">{{ show['rating'] }} ☆ <span class="separator">|</span> {{ show['runtime'] }} <span class="separator">|</span> {{ show['genres'] }} </p>
                    {% if show['trailer'] != 'No URL' %}
                         <script>let videoId = "{{ show['trailer'] }}" </script>
                    {% endif %}
                    <div id="player"></div>
                    <p>{{ show['overview'] }}</p>
                </div>
            </div>
            <div>
                <p><b>Stars:</b>&nbsp;
                    {% for actor in actors %}
                    {{ actor['actor'] }},
                    {% endfor %}
                </p>

            </div>
        </div>
    <div class="card">
    <h2>Seasons</h2>
    <table>
        <thead>
        <tr>
            <th>  </th>
            <th> Title </th>
            <th> Overview </th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
        <tr>
            <td>{{ season['season_number'] }}</td>
            <td>{{ season['title'] }}</td>
            <td>{{ season['overview'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}