{% extends 'base_template.html' %}

{% block page_title %} Shows {% endblock %}
{% block styling %} <link rel="stylesheet" href="{{ url_for('static', filename='style/pagination.css') }}"> {% endblock %}
{% block main_title %} Shows {% endblock %}
{% block content %}
<div class="card">
<table>
<thead>
<tr>
    <th>
        {% if order_by != 'title' %}
            <a href="{{ url_for('most_rated', page=1, order_by='title', order='ASC') }}"> Title </a>
        {% elif order_by == 'title' and order == 'DESC' %}
            <a href="{{ url_for('most_rated', page=1, order_by='title', order='ASC') }}"> Title ⇩</a>
        {% else %}
            <a href="{{ url_for('most_rated', page=1, order_by='title', order='DESC') }}"> Title ⇧</a>
        {% endif %}
    </th>
    <th>
        {% if order_by != 'year' %}
            <a href="{{ url_for('most_rated', page=1, order_by='year', order='DESC') }}"> Year </a>
        {% elif order_by == 'year' and order == 'DESC' %}
            <a href="{{ url_for('most_rated', page=1, order_by='year', order='ASC') }}"> Year ⇩</a>
        {% else %}
            <a href="{{ url_for('most_rated', page=1, order_by='year', order='DESC') }}"> Year ⇧</a>
        {% endif %}
    </th>
    <th>
        {% if order_by != 'runtime' %}
            <a href="{{ url_for('most_rated', page=1, order_by='runtime', order='DESC') }}"> Runtime </a>
        {% elif order_by == 'runtime' and order == 'DESC' %}
            <a href="{{ url_for('most_rated', page=1, order_by='runtime', order='ASC') }}"> Runtime ⇩</a>
        {% else %}
            <a href="{{ url_for('most_rated', page=1, order_by='runtime', order='DESC') }}"> Runtime ⇧</a>
        {% endif %}
    </th>
    <th>
       {% if order_by != 'rating' %}
            <a href="{{ url_for('most_rated', page=1, order_by='rating', order='DESC') }}"> Rating </a>
        {% elif order_by == 'rating' and order == 'DESC' %}
            <a href="{{ url_for('most_rated', page=1, order_by='rating', order='ASC') }}"> Rating ⇩</a>
        {% else %}
            <a href="{{ url_for('most_rated', page=1, order_by='rating', order='DESC') }}"> Rating ⇧</a>
        {% endif %}
    </th>
    <th>Genres</th>
    <th>Trailer</th>
    <th>Homepage</th>
</tr>
</thead>
    <tbody>
{% for show in shows_list %}
    <tr>
        <td> <a href="{{ url_for('display_show', show_id = show.get("id")) }}">{{show['title'] }}</a></td>
        <td>{{ show['year'] }}</td>
        <td>{{ show['runtime'] }}</td>
        <td>{{ show['rating'] }}</td>
        <td>{{ show['genres'] }}</td>
        <td>
            {% if show['trailer'] != 'No URL' %}
                <a href="{{ show['trailer'] }}">trailer</a>
            {% else %}
                {{ show['trailer'] }}
            {% endif %}
        </td>
        <td>
            {% if show['homepage'] != 'No URL' %}
                <a href="{{ show['homepage'] }}">homepage</a>
            {% else %}
                {{ show['homepage'] }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    <div class="card">
        <div class="pagination">
        {% if page != 1 %}
            <a href="{{ url_for('most_rated', page=page_before, order_by=order_by, order=order) }}">«</a>
        {% else %}
            <a href="#">«</a>
        {% endif %}
    {% for num in page_numbers %}
        {% if num == page %}
            <a href="#" class="active">{{ num }}</a>
        {% else %}
            <a href="{{ url_for('most_rated', page=num, order_by=order_by, order=order) }}" class="pagination">{{ num }}</a>
        {% endif %}
    {% endfor %}
        {% if page != page_numbers[-1] %}
            <a href="{{ url_for('most_rated', page=page_after, order_by=order_by, order=order) }}">»</a>
        {% else %}
            <a href="#">»</a>
        {% endif %}
        </div>
    </div>
{% endblock %}